extends _layout/layout.pug

//- Các giá trị mặc định cho trang web
block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'
	- var href = "/index.html"

//- Phần khai báo body
block header
block body
	include ../lib/form/f-lienhe/index.pug
block footer
