header.canhcam-header-3.fixed-top
	nav.nav-top.mb-2
		.container
			.row
				.col-12
					.row
						.col-sm-6
							span.mr-3
								i.mdi.mdi-phone.text-white.mr-1
								strong.text-white 028 2228 93 93
							br.d-block.d-lg-none
							span
								i.mdi.mdi-clock-outline.text-white.mr-1
								span.text-white Thứ 2 - Chủ Nhật (9:00 - 21:00)
						.col-6.text-sm-right
							a(href="#").text-white.mr-3 Tin tức
							span.text-white.mr-3 |
							a(href="#").text-white Liên hệ
	nav.navbar.navbar-expand-lg.container
		a.navbar-brand(href='#').mr-2.mr-xl-5
			img(src="./img/_global/logo.png", alt="Logo")
		button.navbar-toggler(type='button', data-toggle='collapse', data-target='#CCMenuHeader', aria-controls='CCMenuHeader', aria-expanded='false', aria-label='Toggle navigation')
			span.fa.fa-bars
		#CCMenuHeader.collapse.navbar-collapse
			ul.navbar-nav.mr-lg.mr-xl-auto.ml-4
				li.nav-item.active
					a.nav-link(href='#')
						span.d-block.d-lg-none Trang chủ
						i.d-lg-inline-block.d-none.fa.fa-home
						span.sr-only (current)
				li.nav-item
					a.nav-link(href='#') Về chúng tôi
				li.nav-item
					a.nav-link(href='#') Dịch vụ làm đẹp
				li.nav-item
					a.nav-link(href='#') Trẻ hóa với công nghệ cao
				li.nav-item
					a.nav-link(href='#') Điều trị công nghệ cao
				li.nav-item
					a.nav-link(href='#') Ưu đãi
