header.canhcam-header-3
	nav.navbar.navbar-expand-lg.container
		a.navbar-brand(href='#')
			img(src="./img/_global/logo.png", alt="Logo")
		button.navbar-toggler(type='button', data-toggle='collapse', data-target='#CCMenuHeader', aria-controls='CCMenuHeader', aria-expanded='false', aria-label='Toggle navigation')
			span.fa.fa-bars
		#CCMenuHeader.collapse.navbar-collapse
			ul.navbar-nav.ml-auto.mt-2.mt-lg-0
				li.nav-item.active
					a.nav-link(href='#') 
						i.fa.fa-home
				li.nav-item
					a.nav-link(href='#') Về chúng tôi
				li.nav-item
					a.nav-link(href='#') Dịch vụ làm đẹp
				li.nav-item
					a.nav-link(href='#') Trẻ hóa với công nghệ cao
				li.nav-item
					a.nav-link(href='#') Điều trị công nghệ cao
				li.nav-item
					a.nav-link(href='#') Ưu đãi
