section.canhcam-pagination-1
	.container
		.row.pagelist
			.col.d-flex.align-items-center.justify-content-center
				ul.pagination
					li.page-item
						a.page-link(href="javascript:void(0)", title="title") 1
					li.page-item.active
						a.page-link(href="javascript:void(0)", title="title") 2
					li.page-item
						a.page-link(href="javascript:void(0)", title="title") 3
					li.page-item
						a.page-link(href="javascript:void(0)", title="title") 4
