section.canhcam-gallery-1
	article.gallery-details
		.container
			.row.gallery-lists
				.col-12.col-sm-6.col-lg-4
					a.item.mt-5.mt-lg-0(href="./img/home/home_dichvu_1.png")
						figure.d-flex.align-items-center.justify-content-start.flex-column
							img.gallery-bg(src="./img/home/home_dichvu_bg.png", alt="")
							.boxzoom
								img.gallery-img(src="./img/home/home_dichvu_1.png", alt="Demo title")
							figcaption
								h3.text-center phục hồi da lão hóa
				.col-12.col-sm-6.col-lg-4
					a.item.mt-5.mt-lg-0(href="./img/home/home_dichvu_2.png")
						figure.d-flex.align-items-center.justify-content-start.flex-column
							img.gallery-bg(src="./img/home/home_dichvu_bg.png", alt="")
							.boxzoom
								img.gallery-img(src="./img/home/home_dichvu_2.png", alt="Demo title")
							figcaption
								h3.text-center chăm sóc da chuyên nghiệp
				.col-12.col-sm-6.col-lg-4
					a.item.mt-5.mt-lg-0(href="./img/home/home_dichvu_3.png")
						figure.d-flex.align-items-center.justify-content-start.flex-column
							img.gallery-bg(src="./img/home/home_dichvu_bg.png", alt="")
							.boxzoom
								img.gallery-img(src="./img/home/home_dichvu_3.png", alt="Demo title")
							figcaption
								h3.text-center trắng sáng làn da
				.col-12.col-sm-6.col-lg-4
					a.item.mt-5(href="./img/home/home_dichvu_1.png")
						figure.d-flex.align-items-center.justify-content-start.flex-column
							img.gallery-bg(src="./img/home/home_dichvu_bg.png", alt="")
							.boxzoom
								img.gallery-img(src="./img/home/home_dichvu_1.png", alt="Demo title")
							figcaption
								h3.text-center phục hồi da lão hóa
				.col-12.col-sm-6.col-lg-4
					a.item.mt-5(href="./img/home/home_dichvu_2.png")
						figure.d-flex.align-items-center.justify-content-start.flex-column
							img.gallery-bg(src="./img/home/home_dichvu_bg.png", alt="")
							.boxzoom
								img.gallery-img(src="./img/home/home_dichvu_2.png", alt="Demo title")
							figcaption
								h3.text-center chăm sóc da chuyên nghiệp
				.col-12.col-sm-6.col-lg-4
					a.item.mt-5(href="./img/home/home_dichvu_3.png")
						figure.d-flex.align-items-center.justify-content-start.flex-column
							img.gallery-bg(src="./img/home/home_dichvu_bg.png", alt="")
							.boxzoom
								img.gallery-img(src="./img/home/home_dichvu_3.png", alt="Demo title")
							figcaption
								h3.text-center trắng sáng làn da
			.row.text-center
				.col
					a(href="javascript:void(0)").btn.p-0.mt-4 Xem thêm