section.canhcam-form-1
	.container
		.row.info
			.col-md-7.col-lg-8
				h3.h3.mt-5.mt-md-0.mb-4 Liên hệ
				form.validator
					.row
						.form-group.col-md-6
							input#name.form-control(type='text', placeholder='Họ tên', data-error="Vui lòng nhập thông tin", required)
							.help-block.with-errors
						.form-group.col-md-6
							input#Email.form-control(type='text', placeholder='Email', data-error="Vui lòng nhập thông tin", pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$", required)
							.help-block.with-errors
					.row
						.form-group.col-md-6
							input#Phone.form-control(type='text', placeholder='Số điện thoại', data-error="Vui lòng nhập thông tin", pattern="^[_A-z0-9]{1,}$", required)
							.help-block.with-errors
						.form-group.col-md-6
							input#Address.form-control(type='text', placeholder='Tiêu đề')
					.row
						.form-group.col
							textarea#sms.form-control(name="sms", cols="30", rows="5",placeholder='Nội dung')

					.row.mt-2.mt-md-3
						.col
							button.btn.btn-outline-primary.text-uppercase(type="submit")
								| Gửi
			.col-md-5.col-lg-4
				article.inf.h-100.mt-5.mt-md-0
					h2.h2.text-center.text-md-left.mb-4 Địa chỉ
					ul.list-unstyled
						li.mb-2
							.row 
								.col-1
									i.fa.fa-home
								.col-10
									span 206 Nguyễn Đình Chiểu, P.6, Q.3, Tp.HCM
						li.mb-2
							.row 
								.col-1
									i.fa.fa-phone
								.col-10
									span 0251 3836 251
						li.mb-2
							.row 
								.col-1
									i.fa.fa-fax
								.col-10
									span 0251 3836 086
						li.mb-2
							.row 
								.col-1
									i.fa.fa-envelope
								.col-10
									span info@berylspan.com.vn
						li.mb-2
							.row 
								.col-1
									i.fa.fa-globe
								.col-10
									span berylspan.com.vn
		.row.map.mt-5
			.col 
				.map-wrapper.mt-5.mt-md-0
					iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.4231112455477!2d106.68792631474426!3d10.778870262096179!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f3077ccd927%3A0xf9ae7393c7f9a5c4!2zMjA2IE5ndXnhu4VuIMSQw6xuaCBDaGnhu4N1LCBQaMaw4budbmcgNiwgUXXhuq1uIDMsIEjhu5MgQ2jDrSBNaW5oLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1538627749098" width="100%" height="440px" frameborder="0" style="border:0" allowfullscreen)
