section.canhcam-carousel-1
	.container
		.row
			.col.text-center
				h2.h2.mb-5 Cảm nhận
		.row
			.col
				article.owl-carousel.owl-theme.list-items
					.item
						.media.d-none.d-sm-flex
							.img-outline.mr-sm-2
								.img-block
									img(src='./img/home/home_camnhan_1.png', alt='')
							.media-body.pr-3.pr-sm-4
								p.mb-0.mb-sm-2 Cuộc sống của tôi khá bận rộn và phải thường xuyên di chuyển quay phim ngoài trời, nên tôi không có nhiều thời gian chăm sóc trọn vẹn cho làn da của mình. Rất may là được biết đến các liệu trình chăm sóc da tại Paris Beauty, nên da của tôi luôn căng tràn, sáng mịn và hồng hào
								span.mt-0.mt-sm-2 Diễn viên Diễm My 9x
						figure.figure.d-sm-none
							.figure-img.mb-3
								img(src='./img/home/home_camnhan_1.png', alt='')
							figcaption.figure-caption
								p.figure-text.mb-0.mb-sm-2 Cuộc sống của tôi khá bận rộn và phải thường xuyên di chuyển quay phim ngoài trời, nên tôi không có nhiều thời gian chăm sóc trọn vẹn cho làn da của mình. Rất may là được biết đến các liệu trình chăm sóc da tại Paris Beauty, nên da của tôi luôn căng tràn, sáng mịn và hồng hào
								p.figure-name.mt-3.text-right Diễn viên Diễm My 9x
					.item
						.media.d-none.d-sm-flex
							.img-outline.mr-sm-2
								.img-block
									img(src='./img/home/home_camnhan_2.png', alt='')
							.media-body.pr-3.pr-sm-4
								p.mb-0.mb-sm-2 Cuộc sống của tôi rất bận rộn và không có nhiều thời gian để chăm sóc trọn vẹn làn da. Vì thế tôi hoàn toàn tin tưởng vào tài năng và kinh nghiệm của đội ngũ bác sĩ tại Paris Beauty để có được vẻ đẹp thuần 
								span.mt-0.mt-sm-2 Diễn viên Thân Thúy Hà
						figure.figure.d-sm-none
							.figure-img.mb-3
								img(src='./img/home/home_camnhan_2.png', alt='')
							figcaption.figure-caption
								p.figure-text.mb-0.mb-sm-2 Cuộc sống của tôi rất bận rộn và không có nhiều thời gian để chăm sóc trọn vẹn làn da. Vì thế tôi hoàn toàn tin tưởng vào tài năng và kinh nghiệm của đội ngũ bác sĩ tại Paris Beauty để có được vẻ đẹp thuần 
								p.figure-name.mt-3.text-right Diễn viên Thân Thúy Hà
					.item
						.media.d-none.d-sm-flex
							.img-outline.mr-sm-2
								.img-block
									img(src='./img/home/home_camnhan_2.png', alt='')
							.media-body.pr-3.pr-sm-4
								p.mb-0.mb-sm-2 Cuộc sống của tôi rất bận rộn và không có nhiều thời gian để chăm sóc trọn vẹn làn da. Vì thế tôi hoàn toàn tin tưởng vào tài năng và kinh nghiệm của đội ngũ bác sĩ tại Paris Beauty để có được vẻ đẹp thuần 
								span.mt-0.mt-sm-2 Diễn viên Thân Thúy Hà
						figure.figure.d-sm-none.rounded
							.figure-img.mb-3
								img(src='./img/home/home_camnhan_2.png', alt='')
							figcaption.figure-caption
								p.figure-text.mb-0.mb-sm-2 Cuộc sống của tôi rất bận rộn và không có nhiều thời gian để chăm sóc trọn vẹn làn da. Vì thế tôi hoàn toàn tin tưởng vào tài năng và kinh nghiệm của đội ngũ bác sĩ tại Paris Beauty để có được vẻ đẹp thuần 
								p.figure-name.mt-3.text-right Diễn viên Thân Thúy Hà
					.item
						.media.d-none.d-sm-flex
							.img-outline.mr-sm-2
								.img-block
									img(src='./img/home/home_camnhan_2.png', alt='')
							.media-body.pr-3.pr-sm-4
								p.mb-0.mb-sm-2 Cuộc sống của tôi rất bận rộn và không có nhiều thời gian để chăm sóc trọn vẹn làn da. Vì thế tôi hoàn toàn tin tưởng vào tài năng và kinh nghiệm của đội ngũ bác sĩ tại Paris Beauty để có được vẻ đẹp thuần 
								span.mt-0.mt-sm-2 Diễn viên Thân Thúy Hà
						figure.figure.d-sm-none
							.figure-img.mb-3
								img(src='./img/home/home_camnhan_2.png', alt='')
							figcaption.figure-caption
								p.figure-text.mb-0.mb-sm-2 Cuộc sống của tôi rất bận rộn và không có nhiều thời gian để chăm sóc trọn vẹn làn da. Vì thế tôi hoàn toàn tin tưởng vào tài năng và kinh nghiệm của đội ngũ bác sĩ tại Paris Beauty để có được vẻ đẹp thuần 
								p.figure-name.mt-3.text-right Diễn viên Thân Thúy Hà
					