section.home-banner
	article
		.banner
			.img-block
				img(src="./img/home/home_banner.png", alt="").img-fluid
			.banner-menu
				ul.list-unstyled
					li.mb-4
						a(href="#")
							i.mdi.mdi-phone
					li.mb-4
						a(href="#")
							i.mdi.mdi-message-bulleted
					li.mb-4
						a(href="#")
							i.mdi.mdi-magnify

