section.canhcam-services-founder
	.container
		.row
			.col
				h2.text-center.mb-4 người sáng lập
		.row.no-gutters.mb-4
			.col-lg-6.align-self-center
				figure
					img(src="./img/home/home_nguoisanglap.png", alt="alt").img-fluid
			.col-lg-6.align-self-center
				.text 
					h3.h3.mb-0.mt-4.mb-4.mt-lg-0.mb-lg-3.text-center.text-lg-left giám đốc điều hành paris beauty
					p Chị VŨ THỊ HỒNG PHÚC Đã có 10 năm kinh nghiệm trong lĩnh vực điều trị và chăm sóc da. Chị đã không ngừng cập nhật những xu hướng, công nghệ làm đẹp tiên tiến trên thế giới để phù hợp với tiêu chuẩn cái đẹp hiện đại mang đến cho khách hàng ...
					p Nhằm đảm bảo sự an toàn trong từng liệu trình phẫu thuật thẩm mỹ, 
						strong PARIS BEAUTY 
						| đã chú trọng đầu tư các trang thiết bị, cơ sở vật chất hiện đại nhất hỗ trợ tối đa cho quá trình phẫu thuật nhằm xác định chính xác tình trạng sức khỏe khách hàng trước khi phẫu thuật và hỗ trợ theo dõi sát sao những diễn biến về sức khỏe của khách hàng trong suốt quá trình phẫu thuật.