footer.canhcam-footer-2
	.linkfooter
		.container
			.row
				.col-lg
					.socials
						.social-list
							ul.list-inline.text-center
								li.list-inline-item.mr-3
									a(href='https://www.facebook.com/baonguyenyam', target='_blank').d-block.text-center
										i.mdi.mdi-facebook(ga-action-click='', data-value='Facebook', data-label='Facebook', data-action='Facebook')
								li.list-inline-item.mr-3
									a(href='https://www.twitter.com/baonguyenyam', target='_blank').d-block.text-center
										i.mdi.mdi-twitter(ga-action-click='', data-value='Twitter', data-label='Twitter', data-action='Twitter')
								li.list-inline-item
									a(href='https://www.google.com/+baonguyenyam', target='_blank').d-block.text-center
										i.mdi.mdi-google-plus(ga-action-click='', data-value='Google', data-label='Google', data-action='Google')
								li.list-inline-item.mr-3
									a(href='https://www.youtube.com/baonguyenyam', target='_blank').d-block.text-center
										i.mdi.mdi-youtube(ga-action-click='', data-value='Youtube', data-label='Youtube', data-action='Youtube')
			.row
				.col-12.col-md-4
					.row
						.col-12.col-sm-6.col-md-12
							.row.mt-5.mt-lg-4.no-gutters
								.col-1.d-flex.justify-content-center.align-items-center
									.footer-icon-wrapper
										i.mdi.mdi-map-marker.mr-2.mr-sm-5
								.col-11.align-self-center
									h4.text-left.mb-0 địa chỉ
							.row.no-gutters
								.offset-1
								.col-10
									nav.list-group.text-left
										.list-group-item
											a(href="javascript:void(0)") Số 08 Phạm Đình Toái, Phường 6, Quận 3, Tp.HCM
						.col-12.col-sm-6.col-md-12
							.row.mt-5.mt-lg-4.no-gutters
								.col-1.d-flex.justify-content-center.align-items-center
									.footer-icon-wrapper
										i.mdi.mdi-clock-outline.mr-2.mr-sm-5
								.col-11.align-self-center
									h4.text-left.mb-0 giờ mở cửa
							.row.no-gutters
								.offset-1
								.col-10
									nav.list-group.text-left
										.list-group-item
											a(href="javascript:void(0)") Thứ 2 - Chủ Nhật
										.list-group-item
											a(href="javascript:void(0)") 9:00-21:00
				.col-12.col-md-4
					.row
						.col-12.col-sm-6.col-md-12
							.row.mt-5.mt-lg-4.no-gutters
								.col-1.d-flex.justify-content-center.align-items-center
									.footer-icon-wrapper
										i.mdi.mdi-phone.mr-2.mr-sm-5
								.col-11.align-self-center
									h4.text-left.mb-0 điện thoại
							.row.no-gutters
								.offset-1
								.col-10
									nav.list-group.text-left
										.list-group-item
											a(href="javascript:void(0)") 090 83 83 888
										.list-group-item
											a(href="javascript:void(0)") 028 2228 93 93
						.col-12.col-sm-6.col-md-12
							.row.mt-5.mt-lg-4.no-gutters
								.col-1.d-flex.justify-content-center.align-items-center
									.footer-icon-wrapper
										i.mdi.mdi-email.mr-2.mr-sm-5
								.col-11.align-self-center
									h4.text-left.mb-0 Email
							.row.no-gutters
								.offset-1
								.col-10
									nav.list-group.text-left
										.list-group-item
											a(href="javascript:void(0)") pb@parisbeauty.vn
				
				.col-12.col-md-4.d-flex.align-items-center.justify-content-center
					img(src="./img/_global/logo.png", alt="").mt-5.mt-md-0


	.copyright
		.container-fluid
			.row
				.col.text-center
					p.mb-0 copyright &#169;2018 paris beauty. all right reserved. design by canhcam.
