section.canhcam-news-3
	article
		.container
			.row
				.col
					h4.text-center.text-uppercase.mb-4 tin tức
	article.news-tabs
		.container
			.row.align-items-center.justify-content-center
				.col-12.col-sm-4.col-lg-3
					a(href="javascript:void(0)").btn.active.mb-4 Kiến thức làm đẹp
				.col-12.col-sm-4.col-lg-3
					a(href="javascript:void(0)").btn.mb-4 Sự kiện làm đẹp
				.col-12.col-sm-4.col-lg-3
					a(href="javascript:void(0)").btn.mb-4 Tuyển dụng

	article.news-list
		.container
			.row#products
				.col-sm-6.col-lg-4.mt-4
					a.item(href="#")
						figure
							img(src="./img/dichvulamdep/dichvulamdep_tin_1.png", alt="alt")
							figcaption.mt-2
								time 21.06.2018
								h3.mt-1 5 bí quyết chăm sóc và bảo vệ da hằng ngày
				.col-sm-6.col-lg-4.mt-4
					a.item(href="#")
						figure
							img(src="./img/dichvulamdep/dichvulamdep_tin_2.png", alt="alt")
							figcaption.mt-2
								time 21.06.2018
								h3.mt-1 phụ nữ trên 55 phục hồi da lão hóa thế nào?
				.col-sm-6.col-lg-4.mt-4
					a.item(href="#")
						figure
							img(src="./img/dichvulamdep/dichvulamdep_tin_3.png", alt="alt")
							figcaption.mt-2
								time 21.06.2018
								h3.mt-1 tươi trẻ tuổi 30 nhờ bí quyết chăm sóc da lão hóa
				.col-sm-6.col-lg-4.mt-4
					a.item(href="#")
						figure
							img(src="./img/dichvulamdep/dichvulamdep_tin_4.png", alt="alt")
							figcaption.mt-2
								time 21.06.2018
								h3.mt-1 5 loại thực phẩm chống lão hóa từ bên trong
				.col-sm-6.col-lg-4.mt-4
					a.item(href="#")
						figure
							img(src="./img/dichvulamdep/dichvulamdep_tin_5.png", alt="alt")
							figcaption.mt-2
								time 21.06.2018
								h3.mt-1 cách làm đẹp da mặt với 8 kiến thức căn bản
				.col-sm-6.col-lg-4.mt-4
					a.item(href="#")
						figure
							img(src="./img/dichvulamdep/dichvulamdep_tin_6.png", alt="alt")
							figcaption.mt-2
								time 21.06.2018
								h3.mt-1 sử dụng sữa rửa mặt đúng cách để có làn da khỏe mạnh
				.col-sm-6.col-lg-4.mt-4
					a.item(href="#")
						figure
							img(src="./img/dichvulamdep/dichvulamdep_tin_7.png", alt="alt")
							figcaption.mt-2
								time 21.06.2018
								h3.mt-1 lão hóa da độ tuổi 20, bạn có 'trẻ' như mình nghĩ
				.col-sm-6.col-lg-4.mt-4
					a.item(href="#")
						figure
							img(src="./img/dichvulamdep/dichvulamdep_tin_8.png", alt="alt")
							figcaption.mt-2
								time 21.06.2018
								h3.mt-1 chăm sóc da và làm chậm lão hóa da độ tuổi trên 45
				.col-sm-6.col-lg-4.mt-4
					a.item(href="#")
						figure
							img(src="./img/dichvulamdep/dichvulamdep_tin_9.png", alt="alt")
							figcaption.mt-2
								time 21.06.2018
								h3.mt-1 chăm sóc hàng ngày cho da nhạy cảm
