section.canhcam-gallery-profit
	article.gallery-details
		.container
			.row.gallery-title.d-flex.align-items-center.justify-content-center
				h2.mb-0.mt-lg-4.text-center Lợi ích của paris beauty đem lại
			.row.gallery-lists
				.col-12.col-sm-6.col-lg-4
					a.item.mt-5(href="./img/home/home_loiich_icon_1.png")
						figure.d-flex.align-items-center.justify-content-start.flex-column
							.boxzoom
								img.gallery-img(src="./img/home/home_loiich_icon_1.png", alt="Demo title")
							figcaption.px-5
								h3.text-center Uy tín hàng đầu
				.col-12.col-sm-6.col-lg-4
					a.item.mt-5(href="./img/home/home_loiich_icon_2.png")
						figure.d-flex.align-items-center.justify-content-start.flex-column
							.boxzoom
								img.gallery-img(src="./img/home/home_loiich_icon_2.png", alt="Demo title")
							figcaption.px-5
								h3.text-center Liệu trình riêng biệt
				.col-12.col-sm-6.col-lg-4
					a.item.mt-5(href="./img/home/home_loiich_icon_3.png")
						figure.d-flex.align-items-center.justify-content-start.flex-column
							.boxzoom
								img.gallery-img(src="./img/home/home_loiich_icon_3.png", alt="Demo title")
							figcaption.px-5
								h3.text-center KTV chuyên nghiệp
				.col-12.col-sm-6.col-lg-4
					a.item.mt-5(href="./img/home/home_loiich_icon_4.png")
						figure.d-flex.align-items-center.justify-content-start.flex-column
							.boxzoom
								img.gallery-img(src="./img/home/home_loiich_icon_4.png", alt="Demo title")
							figcaption.px-5
								h3.text-center Không gian sang trọng, ấm áp
				.col-12.col-sm-6.col-lg-4
					a.item.mt-5(href="./img/home/home_loiich_icon_5.png")
						figure.d-flex.align-items-center.justify-content-start.flex-column
							.boxzoom
								img.gallery-img(src="./img/home/home_loiich_icon_5.png", alt="Demo title")
							figcaption.px-5
								h3.text-center Sản phẩm hỗ trợ điều trị
				.col-12.col-sm-6.col-lg-4
					a.item.mt-5(href="./img/home/home_loiich_icon_6.png")
						figure.d-flex.align-items-center.justify-content-start.flex-column
							.boxzoom
								img.gallery-img(src="./img/home/home_loiich_icon_6.png", alt="Demo title")
							figcaption.px-5
								h3.text-center Thường xuyên nâng cấp công nghệ